<!DOCTYPE html>
<html>
<head>
    <title>Flights</title>
</head>
<body>
    <h1>Welcome to Flights</h1>
    <!-- <p th:text="${message}"></p> -->

    <h2>Direct Flights</h2>
    <form action="/getDirectFlights" method="get">
        <label for="departure">Departure:</label>
        <input type="text" id="departure" name="departure"><br><br>
        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination"><br><br>
        <input type="submit" value="Search">
    </form>

    <h2>Return Flights</h2>
    <form action="/getReturnFlights" method="get">
        <label for="departure">Departure:</label>
        <input type="text" id="departure" name="departure"><br><br>
        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination"><br><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>